.taskItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 8px;
    border: 1px dashed #D7DDE9;
    border-radius: 8px;

    &:hover {
        border: 1px solid #F7F9FD;
        background-color: #F7F9FD;
        cursor: pointer;
    }

    input[type="checkbox"] {
        appearance: none;
        border: 1px solid #B0BBD1;
        border-radius: 4px;
        margin-right: 16px;
        width: 24px;
        height: 24px;
        position: relative;
        cursor: pointer;
    
        &:checked::before {
            content: url("./check.svg");
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    
        &:checked {
            background-color: #A0DCF6;
            border-color: #0796D3;
        }
    }
    
    .completed {
        color: rgba(0, 0, 0, 0.54);
        text-decoration: line-through;
    }

    span {
        flex-grow: 1;
        text-align: left;
    }

    .deleteIcon {
        color: #B0BBD1;
        cursor: pointer;
        font-size: 24px;
        margin-left: 16px;
        transition: color 0.3s ease;

        &:hover {
            color: #B71C1C;
        }
    }

    @media (min-width:480px) {
        padding: 16px;
    }
}
